*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(84deg, rgba(255,255,255,1) 6%, rgba(121,121,121,1) 94%);
}
.header {
    display: flex;
    padding: 1em;
    background-color: #333;
    color: #fff;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}
p {
    color: red;
    margin: 0.5em;
}
.indexRedirect {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 1.5em;
}
.indexRedirect h3 {
    margin: 2em;
}


.indexRedirect form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.indexRedirect input {
    padding: 0.5em;
    margin:1em;
}

a {
    background-color: #333;
    color:#fff;
    font-size: 1.8em;
    width: auto;
}

.loginRedirect {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 1.5em;
}

.loginRedirect h3 {
    margin: 2em;
}

.loginRedirect input {
    padding-bottom: 1em;
    margin: 0.5em;
}

.loginRedirect {
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #333;
    color:#fff;
}