*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    background: rgb(255,255,255);
    background: linear-gradient(84deg, rgba(255,255,255,1) 6%, rgba(121,121,121,1) 94%);
}
img {
    height: 2em;
    padding: 0.5em;
}
.header {
    display: flex;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    align-items: center;
    padding: 1em;
}
.header h1 {
    width: 20%;
}
.nav {
    margin-left: 50%;
    text-decoration: none;

}
.bio {
    color: #333;
    font-size: 1.4rem;
    line-height: 1.4rem;
}
ul {
    display: flex;
    list-style: none;
}

li {
    padding: 1em;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

#new-user {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    padding: 1.5em;
    border:0.5em solid #333;
    border-radius: 10px;
    background-color: #D8D8D8;
    justify-content: center;
    align-items: center;
}
#new-user h3 {
    margin: 2em;
}


#new-user form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#new-user input {
    padding: 0.5em;
    margin:1em;
}

button {
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #333;
    color:#fff;
}

.submit {
    background-color: #333;
    color: #fff;
}

#login {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    border:0.5em solid #333;
    border-radius: 10px;
    background-color: #D8D8D8;
    padding: 1.5em;
}

#login h3 {
    margin: 2em;
}

#login input {
    padding-bottom: 1em;
    margin: 0.5em;
}

.login {
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #333;
    color:#fff;
}

.footer {
    padding: 1em;
    height: 4em;
    background-color: #333;
    color: #fff;
    justify-content: flex-end;
    margin-top: 20vw;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
    color: inherit;
}

.loginRedirect {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 1.5em;
}

.loginRedirect h3 {
    margin: 2em;
}

.loginRedirect input {
    padding-bottom: 1em;
    margin: 0.5em;
}

.loginRedirect {
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #333;
    color:#fff;
}

p {
    color: red;
    margin: 0.5em;
}
.indexRedirect {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding: 1.5em;
}
.indexRedirect h3 {
    margin: 2em;
}


.indexRedirect form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.indexRedirect input {
    padding: 0.5em;
    margin:1em;
}

.signupButton {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.navlogin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navlogin input {
    margin: 0.5em;
    margin-top: 2em;
}

.navlogin input {
    margin-top: -1em;
    background: #444;
}

td input {
    background-color: #333;
    color: #fff;
}

.updateForm {
    font-size: 1.8rem;
    margin: 1em;
    padding:0.5em;
}

#updateButton {
    padding: 1em;
    background-color: #333;
    color: #fff;
}
.updateSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}